body{
    background-color: rgb(34, 57, 106);
    color: white ;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 60px;
}
h1{
    font-size: 250%;
    margin-bottom: 10px;
}
strong{
    font-size: 120%;
}
h2{
    font-size: 200%;
}
h3{
    font-size: 140%;
}
h4{
    font-size: 130%;
}
h5{
    font-size: 120%;
}
.green{
    color: rgb(49, 187, 102);
}
footer{
    padding-top: 20px;
    text-align: center;
    background-color: rgb(17,36,77);
    height: 40px
}
a{
    color: red;
    margin-right: 30px;
}